<a href="https://colab.research.google.com/github/SnehalVora/Hamoye-AI/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
  
  
uploaded = files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [52]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['energydata_complete.csv']))
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [53]:
X = df['T2']
x = pd.DataFrame(X)
x

              T2
0      19.200000
1      19.200000
2      19.200000
3      19.200000
4      19.200000
...          ...
19730  25.890000
19731  25.754000
19732  25.628571
19733  25.414000
19734  25.264286

[19735 rows x 1 columns]

In [54]:
y = df['T6']
Y = pd.DataFrame(y)
Y

              T6
0       7.026667
1       6.833333
2       6.560000
3       6.433333
4       6.366667
...          ...
19730  24.796667
19731  24.196667
19732  23.626667
19733  22.433333
19734  21.026667

[19735 rows x 1 columns]

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,Y,test_size=0.30,random_state=42)
X_train

              T2
9129   17.790000
2453   18.700000
9152   16.890000
12694  19.963333
16952  29.856667
...          ...
11284  19.390000
11964  22.000000
5390   18.200000
860    20.434000
15795  19.890000

[13814 rows x 1 columns]

In [60]:
from sklearn.preprocessing import MinMaxScaler
mm= MinMaxScaler()
#for training data, use fit_transform and for test data use transform
x_train_scaled= mm.fit_transform(X_train)
x_test_scaled=mm.transform(X_test)

In [68]:
from sklearn.linear_model import LinearRegression
regression_model = LinearRegression()
regression_model.fit(x_train_scaled, y_train)
predicted_values = regression_model.predict(X_test) #Predictions on Testing data
print(predicted_values)

[[542.14781835]
 [650.21154469]
 [538.27017756]
 ...
 [570.92399477]
 [632.14990205]
 [581.12831265]]

In [69]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

-10298.422

In [70]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

613.276

In [71]:

import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

T6    2.249881e+09
dtype: float64

In [72]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

616.428

In [77]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(x_train_scaled, y_train)# scale the data for Ridge Regression
predicted_value1 = ridge.predict(X_test) #Predictions on Testing data
print(predicted_value1)

[[540.6323305 ]
 [648.38951607]
 [536.76568928]
 ...
 [569.3268785 ]
 [630.37910828]
 [579.50225013]]

In [78]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_value1))
round(rmse, 3)

614.678

In [80]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=200)
lasso.fit(X_train, y_train)
predicted_value2 = lasso.predict(X_test) #Predictions on Testing data
print(predicted_value2)

[7.89826571 7.89826571 7.89826571 ... 7.89826571 7.89826571 7.89826571]

In [81]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_value2))
round(rmse, 3)

6.074